.section {
  margin-top: 180px;
}

.title {
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  font-family: var(--font-commissioner);
  text-transform: uppercase;
  margin: 0 0 32px;
  color: var(--color-ink-black);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 32px;
}

@media (max-width: 768px) {
  .section {
    margin-top: 80px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 32px;
  }
}
